::-webkit-scrollbar { 
    width: 5px;
}
::-webkit-scrollbar-thumb { 
    background-color: rgb(0, 0, 0,.2);
    border-radius: 4px;
}
.dropdown-menu { 
    position: absolute;
    z-index: 1;
    inset: unset!important;
    transform: translate(-90%,-5%)!important;
}
.chat-option > li { 
    cursor: pointer;
}
.createdAt { 
    font-size: .8rem;
    color: #b8a9a9; 
}
.msg { 
    cursor: pointer;
}
.toast { 
    left: 0px!important; 
    animation: hideToast 5s forwards;
    position: relative;
}
.duration { 
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0; 
    left: 0;
    animation: countDown 4s 0.5s forwards;
}
@keyframes hideToast {
    0% {  
        transform: translateX(-100%);
    } 
    25%,90% { 
        transform: translateX(0);
    }
    100% { 
        transform: translateX(-100%);
    }
}
@keyframes countDown {
    0% {  
        width: 100%;
    }         
    100% { 
        width: 0%;
    }
}