::-webkit-scrollbar { 
    width: 5px;
}
::-webkit-scrollbar-thumb { 
    background-color: rgb(0, 0, 0,.2);
    border-radius: 4px;
}
.dropdown-menu { 
    position: absolute;
    z-index: 1;
    inset: unset!important;
    transform: translate(-90%,-5%)!important;
}
.chat-option > li { 
    cursor: pointer;
}
.createdAt { 
    font-size: .8rem;
    color: #b8a9a9; 
}
.msg { 
    cursor: pointer;
}
.toast { 
    left: 0px!important; 
    animation: hideToast 5s forwards;
    position: relative;
}
.duration { 
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0; 
    left: 0;
    animation: countDown 4s 0.5s forwards;
    
}
.shake-imgs:hover { 
    animation: shake 1s infinite;
    /* transform: scale(1.1); */
    transition: .3s all;
    box-shadow: 0px 0px 10px  rgba(11, 0, 0,.2);
}
.shake-imgs:hover > img { 
    border: 2px rgb(73, 73, 134) solid;
}
@keyframes hideToast {
    0% {  
        transform: translateX(-100%);
    } 
    25%,90% { 
        transform: translateX(0);
    }
    100% { 
        transform: translateX(-100%);
    }
}
@keyframes countDown {
    0% {  
        width: 100%;
    }         
    100% { 
        width: 0%;
    }
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}